version: '3'
services:

  mariadb:
    image: mariadb:latest
    restart: always
    ports: 
       - '3306:3306'
    environment:
       MYSQL_DATABASE: 'database'
       MYSQL_USER: 'admin'
       MYSQL_PASSWORD: 'password'
       MYSQL_ROOT_PASSWORD: 'root_password'
       MYSQL_ALLOW_EMPTY_PASSWORD: 'no'
       MYSQL_RANDOM_ROOT_PASSWORD: 'random'

  redis:
    image: redis:latest
    environment:
       REDIS_PASSWORD: 'password'
    ports:
      - '6379:6379'

  front:
    build: ./frontend
    volumes:
      - ./frontend:/home/node/frontend
    ports:
      - '3001:3000'
    command: npm start

  back:
    build: ./backend
    ports: 
       - '8000:8000'
    volumes: 
       - ./backend:/backend
    depends_on:
       - mariadb
    command: gunicorn -b 0.0.0.0:8000 myproject.wsgi:application 
