.head-text{
    position: relative;
    padding-top: 10px;
    width: 100%;

    font-family: Roboto;
    font-weight: 900;
    font-size: calc(0.75em + 5vmin);
    text-align: center;
    color: #FFBF00;
}

.about-us {
    background: url("../img/static/about_background.jpg");
    width: 99.2vw;
    height: 928px;

    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

.info {
    margin: 10px 40px;
    height: 800px;
    left: 40px;
    right: 40px;
    top: 78px;

    border: 5px dashed #FFBF00;
    border-radius: 5px;
}

.info-text {
    display: block;   
    right: 20px;
    left: 20px;
    

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: calc(0.75em + 2vmin);
    
    text-align: center;
    font-variant: normal;

    color: #FFBF00;
}

br {
    content: "A" !important;
    display: block !important;
    margin-bottom: 0.5rem !important;
}

.team {
    width: 100%;
    height: 968px;

    background: #ffffff;
}

.team img {
    display: flex;
    margin: 0 auto;
    width: 250px;
    border-radius: 50%;
    align-self: center;
}
.team h1 {
    display: flex;
    margin: 0 auto;
    
}
.team h3 {
    display: flex;
    margin: 0 auto;
    align-self: center;
}

.possibilities {
    width: 100%;
    height: 968px;
    background: #E8E8E8;
}