/*Styles for Events*/

/* SEARCH */
.btn-search-events {
    width: 250px;
    margin-left: 20px;
}

.btn-search-events-title {
	font-family: Roboto Condensed;
	font-weight: bold;
	/*font-size: 20px;*/
}

.search-input-group {
	margin-top: 10%;
	margin-bottom: 10%;
}

/* TITLE */
.title-events {
	text-align: center;
	font-weight: bold;
	margin-top: 5%;
	margin-bottom: 10%;
	font-family: Roboto Condensed;
	font-size: 48px;
	line-height: 56px;
}

/* EVENTS */
.event-card {
	margin-top: 20px;
	margin-bottom: 20px;
}

.event-header {
 	background: white;
	border: 1px solid #4F4F4F;
	/*box-sizing: border-box;*/
}

.event-card-header {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
}

.event-body {
	border-left: 1px solid #4F4F4F;
	border-right: 1px solid #4F4F4F;
	height: 200px;
}

.event-body p {
	line-height: 80%;
}

.event-card .card-footer{
	padding: 0;
}


