@import url("https://fonts.googleapis.com/css?family=Mukta:700");

/* Styles for Navbar */
#root {
    padding-top: 56px;
}
.header {
    width: 100%;
    height: 56px;
    background-color: #4f4f4f;
    position: fixed;
    z-index: 1000;
    top: 0;
}
.header li a {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    border-bottom: 2px solid transparent;
    font-weight: 300;
    margin-left: 3px;
    margin-right: 3px;
}
.header a.active,
.header li a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
    font-weight: 300;
}
.header .active {
    background-color: transparent;
    border-radius: 0px;
}
.logo{
    width: 144px;
}
.navbar-collapse {
    background-color: rgba(79, 79, 79, 0.9);
    text-align: right;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.navbar-nav .nav-link {
    padding-right: 15px;
}
.navbar-collapse {
    z-index: 2;
}


/* Stytes for Footer */
.footer {
  background-image: url("../img/static/footer-bg.png");
  width: 100%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 214px;
  border-top: 3px solid #444;
}
.footer a{
    color: #343a40;
}
.footer .form {
    width: 100%;
    display: flex;
}
.footer-nav {
    display: flex;
    margin: 49px 0 30px 0;
}
.footer-nav li {
    cursor: pointer;
}
.footer-nav a {
    color: #000;
    margin-right: 30px;
    text-transform: uppercase;
}
#search-input {
    width: 400px;
    border-radius: 20px 0px 0px 20px;
    height: 50px;
}
#search-button {
    border: none;
    width: 50px;
    height: 50px;
    background: #FFD466;
    border-radius: 0px 20px 20px 0px;
}
.soc {
    font-size: 48px;
    display: flex;
    justify-content: flex-end;
    margin-top: 49px;
}
.soc li {
    margin: 0 25px;
}
.footer span {
    display: flex;

    justify-content: flex-end;
    position: relative;
    bottom: -25px;
}

/* Styles for HomeHeader */

.header-img {
      height: 100vh;
      min-height: 510px;
      background-image: url("../img/static/headerimg.png");
      background-color: #000;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
              background-size: cover;
}
.bg-yoda {
    height: 100vh;
    min-height: 510px;
    background-image: url("../img/static/yodahome.png");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
}

.header-img .container {
    height: 90%;
}
.header-img .language li {
    position: relative;
    top: 15px;
    display: inline;
    font-size: 24px;
    color: #fff;
}
.header-img .language li a {
      color: #fff;
 }
.header-img .language .language-active {
    color: #aaa;
}
.header-img .middle_bar {
  position: relative;
  top: 30%;
  text-align: right;
  color: #fff;
}
.header-img .middle_bar p { font-size: 48px; }
.header-img .middle_bar cite { font-size: 36px; }
.btn-sign {
    width: 260px;
    height: 47px;
    border-radius: 20px;
    font-size: 18px;
}
.btn-group-sign {
    display: flex;
    position: relative;
    top:40%;
    justify-content: center;
    align-items: center;

}


/* Styles for HomeAbout */
.header-block h1{
    margin-top: 95px;
    margin-bottom: 31px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.header-block p{
    text-align: center;
    margin-bottom: 130px;
}
.main-text {
    font-size: 1.2rem;
}
.secondary-header {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
}
.home-about img{
    max-width: 110px;
}
.home-about p{
    margin-bottom: 130px;
}


/* Styles for HomeEvent */
.home-event .secondary-header {
    margin-top: 40px;
    margin-bottom: 30px;
}
.home-event {
    padding-bottom: 150px;
}
.btn-yellow{
    background-color: #FFD466;
    border-radius: 20px;
    width: 135px;
}
.home-event .slick-prev, .slick-next {
    top: 30%;
}
.home-event .slick-prev:before, .slick-next:before {
    font-size: 40px;
}
.home-event .slick-prev {
    left: -50px;
}
.sl-slide img{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.event-cover-photo {
    max-width: 530px;
    height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.event-description {
    max-height: 3.5rem;
    overflow: hidden;
    margin: 0 15px 15px 15px;
}
.sl-slide {
    text-align: center;
}
.event-modal-photo {
    max-width: 100%;
    height: auto;
}
.btn-join {
    background-color: #FFD466;
}

.main-text-event-modal {
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

/* Styles for HomeTrainers */
.trainer-photo {
    display: flex;
    margin: 0 auto;
    width: 260px;
    border-radius: 50%;
    align-self: center;
}
.trainer-name {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 5px;
}
.trainer-title {
    text-align: center;
    font-size: 12px;
    color: #76848C;
}
.home-trainers {
    padding-bottom: 250px;
}

.course-star-rating {
    font-size: 25px;
}
.home-course-star-rating{
    font-size: 20px;
    top:5px;
}
.home-rate {
    position: relative;
    top: -35px;
    right: 5%;
}
.home-course .secondary-header {
    margin-bottom: 0px;
}

/* Style for HomeCourses */
.home-course {
    margin-bottom: 50px;
}
.courses-description {
    max-height: 3.5rem;
    overflow: hidden;
}
.btn-group-course-detail {
    margin-top: 100px;
    text-align: center;
}

.header-course-detail {
    margin-bottom: 50px;
    margin-top: 50px;
}

.main-text-span {
    color: grey;
}
.course-cover-photo{
    max-width: 400px;
    height: 266px;
    overflow: hidden;
}
.course-cover-photo img {
    /* width: 100%; */
    height: 100%;
}
.home-rate .rate-small {
    color: #4f4f4f;
}

/* Styles for HomeLastBlock */
.home-last-block h1 {
    text-align: left;
    margin: 320px 0 51px 15px;
}
.home-last-block p {
    text-align: left;
    margin-bottom: 51px;
}
.home-last-block img {
    margin-top: 240px;
    margin-bottom: 240px;
}
.home-last-block .btn-group-sign {
    top: 0;
}

/* Styles for ResetPassword */

.reset-pass {
    height: 80vh;
    min-height: 510px;
    background-image: url("../img/static/patternfon.png");
    background-position: center;
    background-repeat:repeat;
    display: flex;
    align-items: center;
}
.reset-pass .container{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 20px;
}
.reset-pass-form {
    border-radius: 20px;
    margin-bottom: 20px;

}
.form-error {
    padding-left: 20px;
    color: #710000;
}
.reset-pass .confirm {
    text-align: center;
}
.reset-pass .confirm h1{
    font-size: 120px;
}
.reset-pass .confirm p {
    font-size: 2rem;
    margin-top: 20px;
}
.re-send {
    margin-left: 10px;
}


/* Styles for UserMenu */
 .profile-photo-dropdown {
    border-radius: 50%;
    height: 35px;
    width: 35px;
}
 .dropdown-button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
}
.dropdown-button:hover {
    background-color: transparent;
}
.header-user-menu {
    position: relative;
    right: 0px;
    top: 5px;
}
.header-user-menu a {
    cursor: pointer;
}
.auth-display-none {
    display: none;
}
/* Styles for 404 page */
.page-404 {
    text-align: center;
    background-image: url("../img/static/patternfon.png");
    background-position: center;
    background-repeat: repeat;
    padding-top: 25px;
    padding-bottom: 25px;
}

.page-404 .dragon-div {
    margin: 5rem;
    opacity: 0.6;
}
.page-404 a {
    color: #343a40;
}

/* Styles for button more */
.more-courses-events {
    position: relative;
    top: 100px;
}
.more-courses-events button {
    position: relative;
    outline: none;
    border: 0;
    background: transparent;
    padding: 0;
  }
  .more-courses-events button.learn-more {
    width: 12rem;
    height: auto;
  }
  .more-courses-events button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #6c757d;
    border-radius: 1.625rem;
  }
  .more-courses-events button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .more-courses-events button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  .more-courses-events button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .more-courses-events button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
  }
  .more-courses-events button:hover .circle {
    width: 100%;
  }
  .more-courses-events button:hover .circle .icon.arrow {
    background: #fff;
    -webkit-transform: translate(1rem, 0);
            transform: translate(1rem, 0);
  }
  .more-courses-events button:hover .button-text {
    color: #fff;
  }

  @supports (display: grid) {
    .more-courses-events body {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0.625rem;
      grid-template-areas: ". main main ." ". main main .";
    }

    .more-courses-events {
      grid-area: main;
      align-self: center;
      justify-self: center;
    }
  }
  .sign-in-header {
      color: #fff;
      display: flex;
      font-size: 1.25rem;
      float: right;
      cursor: pointer;
  }
