.btn {
    border-radius: 20px;
}
.btn:hover {
    opacity: 0.8;
}
.modal .btn {
    width: 260px;
}
.btn-grey{
    background-color: #E1E1E1;
}
input.form-control {
    border-radius: 20px;
}
input.form-control.validate {
    border: 1px solid #5CB85C;
    position: relative;
}
.modal .form-group.row {
    margin-left: 0;
    margin-right: 0;
}
.modal-content,
.modal-dialog.wild .modal-content {
    border-radius: 0px;
    border-color: transparent;
    background: #fff;
    border: 0px none;
}
.modal-body {
    margin-right: -1px;
}
.modal-title {
    font-weight: bold;
}
button.close {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 1001;
}

/* login form */
.login {
    background: #fff;
    text-align: left;
    margin-bottom: 25px;
}
.signup {
    background: url(../img/content/Rectangle.png) 0 0 no-repeat;
    background-size: cover;
    margin-top: -17px;
    margin-right: -2px;
    margin-bottom: -17px;
    padding: 25px;
}
.login .form-horizontal {
    padding-right: 10%;
}
.custom-title span {
    display: block;
}

.panel-errors {
    display: none;
}
.panel-errors.errors-show {
    display: block;
}
.formErrors {
    z-index: 1;
    color: red;
    font-size: 15px;
    width: 90%;
    padding: 8px 10px;
    margin: 10px 0;
    border-radius: 5px;
} 
.formErrors p {
    margin: 2px;
}
.modal .is-error input {
    border: 1px solid red;
}

@media (min-width: 576px)
{
    .modal-dialog.wild {
        max-width: 980px;
    }
}

@media (max-width: 768px)
{
    .custom-title span {
        display: inline;
    }
    .Login {
        margin-bottom: 20px;
    }
}