.rbc-month-row {
    min-height: 15vh;
}
.rbc-event{
    background-color: #FFD466;
    color: #000;
}
.rbc-event.rbc-selected {
    background-color: #f7bc25;
}
.rbc-toolbar button {
    padding: 0.2rem;
    margin-top: 10px; 
}
.rbc-calendar {
    width: 95%;
}