/*Styles for ProfileInfo*/
.profile-photo {
    border-radius: 50px;
    height: 100px;
    margin-left: 30px;
    margin-top: 20px;
    transition: .5s ease;
    backface-visibility: hidden;
}
.profile-info {
    margin-top: 40px;
    margin-left: -30px;
}
.user-name div {
    display: inline-block;
}
.user-name h2 {
    font-weight: bold;
    display: inline-block;
}
.edit-tool {
    height: 25px;
    opacity: 0.47;
    position: relative;
    margin-bottom: 10px;
    margin-left: 5px;
}
.user-info {
    position: relative;
    bottom: 7px;
}
.profile-photo:hover {
    transform: scale(1.1);
    opacity: 1;
    cursor: pointer;
}
.edit-label {
    color: black;
}
.profile-photo-container:hover .profile-photo {
    transform: scale(1.1);
    opacity: 0.3;
}
.profile-photo-container:hover .edit-label {
    opacity: 1;
}
.edit-label {
    cursor: pointer;
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    position: relative;
    left: 78px;
    bottom: 45px;
}
.hr-line {
    position: relative;
    top: -35px;
    border: 1px solid #707070;
    opacity: 0.3;
}

/*Styles for UserCourses*/
.user-courses {
    display: flex;
    justify-content: center;
}
.user-courses div {
    font-weight: bold;
    margin-left: 15px;
}
.tab-item:hover {
    background-color: #ffd466;
    border-radius: 44px;
}
.tab-item {
    border: none;
    margin-top: 5px;
}
.tab-link {
    border-radius: 44px;
}

.tabs-user-courses {
    cursor: pointer;
    border: none;
}
.pdp {
    display: flex;
    color: black;
    justify-content: center;
}
.active {
    background-color: #ffd466;
    border-radius: 44px;
}
.join-course,
.join-course:hover {
    background-color: #ffd466;
    border: none;
    border-radius: 44px;
    font-weight: bold;
    color: black;
    width: 100px;
}
.card {
    border: none;
}
.description-background {
    height: 100px;
    background-color: #2f2f2f;
    position: relative;
    margin-top: -100px;
    opacity: 0.4;
}
.course-description {
    color: white;
    margin-top: -90px;
    margin-left: 20px;
}
.join-course {
    margin-top: -120px;
    margin-left: -20px;
}
.rating {
    margin-top: -20px;
    float: right;
    padding-right: 20px;
}
.add-favorites {
    margin-right: 40px;
    cursor: pointer;
}
.course-tools {
    cursor: pointer;
    margin-top: -20px;
    float: left;
    padding-left: 20px;
}
.tool-plane {
    height: 20px;
    margin-left: 40px;
}

/*Styles for ProfileMainInfo*/
.contact-info {
    margin-top: 30px;
}
.horz-line {
    position: relative;
    top: 5px;
    border: 1px solid #707070;
    opacity: 0.3;
}
.main-info {
    position: relative;
    top: 20px;
}

@media screen and (max-width: 767px) {
    .profile-photo-container,
    .user-name,
    .user-info {
        display: flex;
        justify-content: center;
    }
    .user-name,
    .user-info {
        margin-left: 80px;
    }
    .user-name {
        margin-top: -20px;
    }
    .profile-photo-container {
        margin-top: 20px;
        margin-left: -10px;
    }
    .join-course-container {
        text-align: center; 
    }
}
