.trainer-page {
    .trainer-avatar {
        position: relative;
        top: -100px;
        border: 4px solid #fff;
        min-width: 150px;
        min-height: 150px;
        max-width: 200px;
        max-height: 200px;
        border-radius: 50%;
        overflow: hidden;
        img {
            min-width: 100%;
            height: 100%;
        }
    }
    h1 {
        margin: 10px;
    }
    .status-offline {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-top: 1.25rem;
        li:first-child {
            font-size: 1.25rem;
            background: #FFD466;
            color: white;
            height: 1.8rem;
            border-radius: 5px;
            padding: 0 10px;
            margin-bottom: 10px;
        }
        i {
            margin-top: 5px;
            margin-right: 5px;
            font-size: 1.25rem;
        }
    }
    .funny-icon {
        padding: 0 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 15px;
        i {
            font-size: 1.5rem;
            color: #4f4f4f;
            span {
                font-size: 1.25rem;
                color: #1f1f1f;
                font-weight: 500;
            }
        }
    }
    h2{
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 15px;
        width: 100%;
        font-weight: 500;
        color: #fff;
    }
    .trainer-general-information{

        ul {
            width: 100%;
            padding: 0 15px;

            li {
                font-size: 1.2rem;
                margin: 10px 0;
            }
            i {
                margin-right: 10px;
            }
        }
        h4 {
            margin-top: 30px;
            padding: 0 15px;
            margin-bottom: 20px;
        }
        p {
            padding: 0 15px;
            text-indent: 20px;
        }

    }
    .trainer-collapse-header {
        width: 100%;
        background: #FFD466;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3px;
        border-radius: 5px;
        i {
            margin-right: 15px;
            font-size: 1.5rem;
            color: #fff;
        }
    }
    #coursesCollaps {
        margin: 15px 0;
    }

}
